body {
}
.register-form{
    max-width:550px;
    padding:10px 10px;
    margin:0 auto;
}
.register-form .register-title{
    padding:5px 0 5px 15px;
}
.register-title span{
    color:#FEB512;
}
.register-form .form-group{
    margin-left:0;
    margin-right:0;
}
.register-form label{
    font-weight:normal;
}
.register-form input.form-control{
    box-shadow:none !important;
}
.register-bottom-container{

}