@model GHY_SSO.Models.ChangePwdModels
@{
    Layout = "~/Views/_Layout/_FullCenterLayout.cshtml";
    ViewBag.Title = "忘记密码";
}
@using (Html.BeginForm("PostChange", "User", FormMethod.Post, new
        {
            @class = "form-horizontal login-form",
            @role = "form"
        }))
{
    @Html.AntiForgeryToken()
    <h2 class="login-title"><span>忘记密码</span> <small>重置密码</small></h2>
    <h3><small>您注册的邮箱为：@ViewBag.Email</small></h3>
    @Html.PasswordFor(x => x.Password, new { @class = "form-control login-username", @placeholder = "新密码 6-20位", @autofocus = "true" })
    @Html.PasswordFor(x => x.EnsurePassword, new { @class = "form-control login-password", @placeholder = Html.DisplayNameFor(x => x.EnsurePassword) })
    <div class="login-error-list">@Html.ValidationSummary(true)</div>
    <button class="btn btn-block login-btn-submit">确定</button>
}